In [1]:
import pandas as pd

In [3]:
csv_file = "../data/array/InfiniumOmniExpress-24v1-2_A2.csv"
df = pd.read_csv(csv_file, header=7)
df

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,IlmnSeq_rs10000911_IlmnDup-131_B_F_2336897696,rs10000911,BOT,[T/G],31722985.0,GACACAGTTAAATGAGTACCCTCATTTTGAAATCTAACATGAGTTT...,NaN,NaN,38.0,4,...,diploid,Homo sapiens,dbSNP,131.0,BOT,TTAAACAATTGACACAGTTAAATGAGTACCCTCATTTTGAAATCTA...,CAATTTAGTTATACAGGTTGAGAATACTTCATGTAAATCCAGACCT...,1288.0,3.0,+
1,IlmnSeq_rs10000988_IlmnDup-131_B_F_2336897694,rs10000988,BOT,[T/C],27622566.0,CAATGTTTTGGCAGACATAGCTTATGCTTCTCAGGTTAGGGGTATT...,NaN,NaN,38.0,4,...,diploid,Homo sapiens,dbSNP,131.0,BOT,ACCAATTTAACAATGTTTTGGCAGACATAGCTTATGCTTCTCAGGT...,AGGCTTTCATATGTATTCTTGTATGACCCTCCAAAAACTCTGGAGA...,1288.0,3.0,+
2,IlmnSeq_rs10002181_IlmnDup-131_T_F_2336897690,rs10002181,TOP,[A/G],75688121.0,CCTGAGACAGCCTACAAAATCACTGTCTATTACTTCTTCAAATGTG...,NaN,NaN,38.0,4,...,diploid,Homo sapiens,dbSNP,131.0,TOP,ATGAGCTGAGCCTGAGACAGCCTACAAAATCACTGTCTATTACTTC...,ATGAGCTGAGCCTGAGACAGCCTACAAAATCACTGTCTATTACTTC...,1288.0,3.0,+
3,IlmnSeq_rs10005140_IlmnDup-131_T_F_2336897678,rs10005140,TOP,[A/G],78784850.0,TCTGGCTGCAGTGTTACGTAGGAGAATTTATCACTGCCAAACCTTT...,NaN,NaN,38.0,4,...,diploid,Homo sapiens,dbSNP,131.0,TOP,TATCATCCTCTCTGGCTGCAGTGTTACGTAGGAGAATTTATCACTG...,TATCATCCTCTCTGGCTGCAGTGTTACGTAGGAGAATTTATCACTG...,1288.0,3.0,+
4,IlmnSeq_rs10005242_IlmnDup-131_T_F_2336897676,rs10005242,TOP,[A/G],68775897.0,GCTGGATCGTCCCCCTGGGAGCCCCTGATAAAATCAGGACTGCTTT...,NaN,NaN,38.0,4,...,diploid,Homo sapiens,dbSNP,131.0,TOP,CAGGATACCGGCTGGATCGTCCCCCTGGGAGCCCCTGATAAAATCA...,CAGGATACCGGCTGGATCGTCCCCCTGGGAGCCCCTGATAAAATCA...,1288.0,3.0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713618,0034633358:0034633358:0034633358:0034633358,Non-Polymorphic,Red,NP (A),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713619,0016648324:0016648324:0016648324:0016648324,Non-Polymorphic,Purple,NP (T),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713620,0043641328:0043641328:0043641328:0043641328,Non-Polymorphic,Green,NP (C),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713621,0013642359:0013642359:0013642359:0013642359,Non-Polymorphic,Blue,NP (G),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713622,0028637363:0028637363:0028637363:0028637363,Restoration,Green,Restore,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_chr20 = df[df.Chr == "20"].reset_index(drop=True)
df_chr20

,IlmnID,Name,IlmnStrand,SNP,AddressA_ID,AlleleA_ProbeSeq,AddressB_ID,AlleleB_ProbeSeq,GenomeBuild,Chr,...,Ploidy,Species,Source,SourceVersion,SourceStrand,SourceSeq,TopGenomicSeq,BeadSetID,Exp_Clusters,RefStrand
0,IlmnSeq_rs10485597_IlmnDup-131_T_F_2336897289,rs10485597,TOP,[A/C],76784530.0,GCCGAACATGGTTGTATCAGAGGATGGCCACAAAAACAGAAGTGTA...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,131.0,TOP,CTTTTTACCTGCCGAACATGGTTGTATCAGAGGATGGCCACAAAAA...,CTTTTTACCTGCCGAACATGGTTGTATCAGAGGATGGCCACAAAAA...,1288.0,3.0,+
1,IlmnSeq_rs10485682_IlmnDup-131_T_R_2336897288,rs10485682,TOP,[A/G],2681541.0,TGCCATATACCCTTGCCCTCCCTTCTGCCAGGTTGTTCATTTTCTC...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,131.0,BOT,TTTTGCTTAAATCGGAGGTTTTTTTGTTCTGTTTTGTTTTTTTCAA...,ATGGGTGGTGTGCCATATACCCTTGCCCTCCCTTCTGCCAGGTTGT...,1288.0,3.0,-
2,IlmnSeq_rs1116928_IlmnDup-131_B_R_2336883294,rs1116928,BOT,[T/C],11750112.0,GTGGTGAAATACTGAAAGCTTTTTGTCTAATATCAGGAAGAAGGGA...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,131.0,TOP,TTGTCTAATCACTGGATAAAACTTCCAGTACTATGTCAAATAGAAG...,TTGTCTAATCACTGGATAAAACTTCCAGTACTATGTCAAATAGAAG...,1288.0,3.0,-
3,IlmnSeq_rs12624459_IlmnDup-131_B_F_2336895600,rs12624459,BOT,[T/C],87644468.0,ATCTAGCATTTGTCTCTACTGGGTGGTTCACAAACACTGTAGGATG...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,131.0,BOT,TTTGAGATCCATCTAGCATTTGTCTCTACTGGGTGGTTCACAAACA...,atggccagtgactctAACTCCTACAGGGGTGTTGGCTGGCTTCCTT...,1288.0,3.0,+
4,IlmnSeq_rs13038458_IlmnDup-131_B_F_2336895432,rs13038458,BOT,[T/C],12627894.0,TCATGAATAACTGGCCTCTGAGTGTGAAGGAAGCAGCAATGAGATT...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,131.0,BOT,ATGCTCCATTTCATGAATAACTGGCCTCTGAGTGTGAAGGAAGCAG...,gaagccccaaacaaaagtttgtaagtgctgttgtcacaggaagcgg...,1288.0,3.0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18161,seq2_rs2424204-138_B_R_2310302257,rs2424204,BOT,[T/C],31620964.0,ATTCTTTATGCCTCTCACCATTCTGCTCTGTGTCCACTAAGTGTCT...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,138.0,TOP,CGTTTTTAAATAAATATTTTCCCTAAGCTGAGCACATCTGAAATAC...,CGTTTTTAAATAAATATTTTCCCTAAGCTGAGCACATCTGAAATAC...,1144.0,3.0,-
18162,seq2_rs6022842-138_T_R_2310301575,rs6022842,TOP,[A/G],2769531.0,TCAAGACACATCAGACAAACAGAAAATGGAGAACATTCTATCAAAC...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,138.0,BOT,AACATTCTCACAGCTTTTTTTGTCTGTTATGATATTAGCATTTTCA...,CTACACCGAATCAAGACACATCAGACAAACAGAAAATGGAGAACAT...,1144.0,3.0,-
18163,seq2_rs6128139-138_T_F_2310301932,rs6128139,TOP,[A/G],76807134.0,ACGCTGGCAGAGGGTGGGCTTGTATTTAGCTATAATAGATATTCCT...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,138.0,TOP,aggagtgggaacgctggcagagggtgggcttgtatttagctataat...,aggagtgggaacgctggcagagggtgggcttgtatttagctataat...,1144.0,3.0,+
18164,seq2_rs6128407-138_B_F_2310302116,rs6128407,BOT,[T/C],46700258.0,TCATCTGACACCCACGTGGCCTGTACTCAGCTTCTCCCTTTTCTTC...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,dbSNP,138.0,BOT,GAGCACACCATCATCTGACACCCACGTGGCCTGTACTCAGCTTCTC...,GAGGATGAGGCCACAGGATGCAGAGGGGACAGGGTCCTGGGTGGGG...,1144.0,3.0,+
18165,VG20S22631-0_T_F_1852963072,VG20S22631,TOP,[A/G],36731560.0,CTCGGGGAGAAGGAAACAAAGATCACAATAAAGAATCTTGTCCCCA...,NaN,NaN,38.0,20,...,diploid,Homo sapiens,1000genomes,0.0,TOP,AAGTACCAACCTCGGGGAGAAGGAAACAAAGATCACAATAAAGAAT...,AAGTACCAACCTCGGGGAGAAGGAAACAAAGATCACAATAAAGAAT...,1203.0,3.0,+

In [14]:
df_chr20_pos = df_chr20[["MapInfo"]].sort_values(by="MapInfo").reset_index(drop=True)
df_chr20_pos

          MapInfo
0         82603.0
1         83158.0
2         87053.0
3         88108.0
4         88453.0
...           ...
18161  64272477.0
18162  64275161.0
18163  64281110.0
18164  64303524.0
18165  64317435.0

[18166 rows x 1 columns]

In [15]:
df_chr20_pos.to_csv("../data/array/InfiniumOmniExpress-24v1-2_A2_chr20_pos.csv", index=False)